<br>
<div class="button-row">
  <button mat-raised-button (click)="sortData()" matTooltip="Sortiert Asc und Desc">Sort</button>
  <button mat-raised-button disabled>View</button>
    <button mat-mini-fab color="warn" (click)="filterData()" matTooltip="Filter produkt größer als 2" aria-label="Example icon button with a filter list icon">
      <mat-icon>filter_list</mat-icon>
    </button>
</div>
<br>
<mat-card class="example-card" *ngFor="let p of products;">
  <div id="results">
    <mat-icon aria-hidden="false" aria-label="bottle icon">local_drink</mat-icon>
    <mat-card-title>{{p.brandName}}</mat-card-title>
      <div class="card-container" >
        <div *ngFor="let case of p.articles">
          {{case.price}} € 
          <br>
          {{case.shortDescription}}           
        </div>        
      </div>
    </div>  
</mat-card>